% Dependencies
{deps, [
  {cowboy, "0.9.*", {git, "git://github.com/extend/cowboy", {tag, "0.9.0"}}}
]}.

% erlc
{erl_opts, [
  warn_export_all,
  warn_shadow_vars,
  warn_obsolete_guard,
  warn_unused_import,
  warnings_as_errors
]}.

% Xref
{xref_checks, [
  undefined_function_calls,
  undefined_functions,
  locals_not_used,
  deprecated_function_calls
]}.

% Cleanup
{clean_files, ["*.eunit", "ebin/*.beam", "test/*.beam"]}.
